.jumbotron{
  background-color:blue;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  }
.container-fluid{
  background-color:white;
  margin-left: 10px;
  margin-right:10px;
  }

.col-md-8 {
  margin-top:10px;
  margin-bottom:10px;
  
}
.h1, h1 {
    font-size: 36px;
    display: inline;
    vertical-align: middle;
}

#header {
  height:40px;
  background-color:white;
}

.navbar {
  margin-bottom:0px;
  background-color:#fff7e6;
}

#article{
  margin-top:10px;
}

.navbar-brand{
  padding:0;
}

.row{
  background-color:#fff7e6;
}
}
.thumbnail{
  margin-top:10px;
}

#news{    
    margin-left: 5px;
    margin-right: 5px;
  
}
